.custom-input {
  height: 60px !important;
}

.custom-button {
  height: 60px;
}

.show-more-less-clickable {
  cursor: pointer;
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #000 !important;
  background-color: rgba(255, 193, 7, 1) !important;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.375rem;
}
